<div class="top-bar">
  <div class="top-bar-left">
    <ul>
      <li class="nav"><%= link_to 'Home', root_path %></li>
      <li class="nav"><%= link_to 'Sign in', new_user_session_path %></li>
      <li class="nav"><%= link_to 'Register', new_user_registration_path %></li>
    </ul>
  </div>
</div>
